###############################################################################
# FFS-LandingPage 環境変数
#
# ../ffs-dcs-server/.env で設定した DCSSB_API_KEY と同値を入れること。
# 揃っていないと RestAPI が 401 を返す。
###############################################################################

# DCSServerBot RestAPI plugin の api_key (32 文字以上の乱数推奨)
DCSSB_API_KEY=

# 通常いじらない。別ホスト/別ポートで WebService を動かす場合のみ変更。
# DCSSB_WEBSERVICE_URL=http://dcs-server-1:9876
# DCSSB_API_PREFIX=/stats
